.brandpage{
    width: 1125px;
    height: 613px;
    display: flex;
   align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    
}
.brand_left{
    width: 595px;
    height: 613px;
    display: flex;
    flex-direction: column;
}
.brand_left h1{
    font-family: 'Poppins', sans-serif;
    width: 595px;
    height: 306px;
    line-height: 102px;
    font-weight: 800px;
    font-size: 108px;
    margin-bottom: 36px;
}
.brand_left p{
    font-family: 'Poppins', sans-serif;
    width: 404px;
    height: 91px;
    font-weight: 500;
    font-size: 16px;
    line-height: 32px;
    color: gray;
    margin-bottom: 36px;
}

.brand_button{
    display: flex;
    width: 331px;
    height: 41px;
    gap: 40px;
    margin-top: 36px;
    margin-bottom: 36px;
}

.brand_button button {
    width: 141px;
    height: 41px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;   
    font-size: 16px;
    cursor: pointer;
   
}

.brand_button .shop_now{
     border: none;
    background-color:#D01C28;
    color: white;
    
}

.brand_button .category{
    border: 1px solid #2E2E2E;
}

.brand_icons{
    width: 131px;
    height: 67px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.brand_icons .brand_span{
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: gray;
}
.brand_logos{
    display: flex;
    width: 80px;
    height: 32px;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    margin-top: 8px;
    margin-bottom: 36px;
}


.brand_right img{
    width: 530px;
    height: 487px;
}