.navbar {
    width: 1440px;
    height: 73px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    
}

.navbar .navbar-logo {
    width: 76px;
    height : 42.75px;
}

.navbar__links {
  list-style: none;
  display: flex;
  font-family: poppins;
  font-weight: 600;
  font-size: 16px;
 cursor: pointer;
 color: #2e2e2e;
  gap: 24px;
  padding: 0;
  margin: 0;
}

.navbar__button {
width: 75px;
height: 31px;
display: flex;
align-items: center;
justify-content: center;
padding: 16px 6px;
  border: none;
  background: #D01C28;
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
}

